<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nb.poms.baidupcs.com/file/036a62474aeef16ab2cf012fd427a2cc?bkt=p2-nb-419&amp;fid=2453429190-250528-473762421665980&amp;time=1436411171&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-DSxNU%2FVcmjTuQ7DLpKwYgJee%2Fr8%3D&amp;to=nbb&amp;fm=Nin,B,T,t&amp;sta_dx=6&amp;sta_cs=0&amp;sta_ft=ipa&amp;sta_ct=0&amp;fm2=Ningbo,B,T,t&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400036a62474aeef16ab2cf012fd427a2cc66aece3f0000006040b0&amp;sl=77070415&amp;expires=8h&amp;rt=sh&amp;r=810053899&amp;mlogid=3804414276&amp;vuk=2453429190&amp;vbdid=3180402044&amp;fin=Payload-resigned.ipa&amp;fn=Payload-resigned.ipa&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://hhaye2e.github.io/AppSite/logo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://hhaye2e.github.io/AppSite/Biglogo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>xxxxx</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Payload-resigned</string>
				<key>title</key>
				<string>Payload-resigned</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
