<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
              <dict>
                  <key>kind</key>
                  <string>software-package</string>
                   <key>url</key>
                  <string>http://nb.poms.baidupcs.com/file/036a62474aeef16ab2cf012fd427a2cc?bkt=p2-nb-419&fid=2453429190-250528-473762421665980&time=1436411171&sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-DSxNU%2FVcmjTuQ7DLpKwYgJee%2Fr8%3D&to=nbb&fm=Nin,B,T,t&sta_dx=6&sta_cs=0&sta_ft=ipa&sta_ct=0&fm2=Ningbo,B,T,t&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=1400036a62474aeef16ab2cf012fd427a2cc66aece3f0000006040b0&sl=77070415&expires=8h&rt=sh&r=810053899&mlogid=3804414276&vuk=2453429190&vbdid=3180402044&fin=Payload-resigned.ipa&fn=Payload-resigned.ipa&slt=pm&uta=0&rtype=1&iv=0</string>
              </dict>
               <dict>
                 <key>kind</key>
                 <string>display-image</string>
                 <key>needs-shine</key>
                <true/>
                <key>url</key>
                <string>https://hhaye2e.github.io/AppSite/logo.png</string>
             </dict>
           <dict>
                  <key>kind</key>
                  <string>full-size-image</string>
                  <key>needs-shine</key>
                  <true/>
                   <key>url</key>
                   <string>https://hhaye2e.github.io/AppSite/Biglogo.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>xxxxx</string>
               <key>bundle-version</key>
              <string>1.0</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>Payload-resigned</string>
               <key>title</key>
               <string>Payload-resigned</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>